body{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 800px;
    height: 800px;
}
.cell{
    display: flex;
    box-sizing: border-box;
    background-color: aquamarine;
    width: 50px;
    height: 50px;
    gap: 0px;
}