@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cornflowerblue;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    width: 750px;
    border-width: 5px;
    border-style: solid;
    border-color: bisque;
    margin-bottom: 25px ;
    padding: 8px;
    border-radius: 10px;
}
.container{
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    border-width: 10px;
    border-style: solid;
    border-color: bisque;
    overflow: hidden;
    width:  850px;
    height: 850px;
}
.containerTwo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 850px;
}
.cell{
    display: flex;
    box-sizing: border-box;
    background-color: white;
    gap: 0px;
}
button{
    border-radius: 10px;
    height: 50px;
    width: 100px;
    background-color: bisque;
}
h1{
    font-size: 70px;
    font-family:  "Great Vibes", cursive;
}