body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: flex-start;
    width: 750px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 850px;
    height: 850px;
}
.cell{
    display: flex;
    flex: 1 1 auto;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: white;
    width: 50px;
    height: 50px;
    gap: 0px;
}